<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% if title %}
                {{ title }} — nowsletter.org{% else %}nowsletter.org{% endif %}
        </title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body class="px-2 md:px-4 my-8 md:my-16 text-xl font-medium bg-gray-100">
        <div class="text text-width mx-auto">
            {{ content | safe }}
        </div>
    </body>
</html>