<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% if title %}
                {{ title }}
                {% else %}nowsletter.org{% endif %}
        </title>
        <link rel="icon" href="/favicon.ico">
        <link
        rel="stylesheet" href="/style.css">
        <!-- Privacy-friendly analytics by Plausible -->
        <script async src="https://plausible.joelgalvez.com/js/pa-FBueQnXPtTrYfHavtlK9q.js"></script>
        <script>
            window.plausible = window.plausible || function () {
                (plausible.q = plausible.q || []).push(arguments)
            },
            plausible.init = plausible.init || function (i) {
                plausible.o = i || {}
            };
            plausible.init()
        </script>
    </head>
    <body class="">
        {% if page.url != "/" %}
            <a href="/" class="inline-block text-2xl italic font-medium uppercase p-4">Nowsletter</a>
        {% endif %}
        <div class="text text-width mx-auto px-2 md:px-4 py-8 md:py-16 text-lg md:text-2xl font-medium ">
            {{ content | safe }}
        </div>
    </body>
</html>